<div id="job-container" class="container mt-4">
    <div class="row">
        <div class="text-center">
            <a class="back-link main-color" href="/">Voltar</a>
            <div id="img-container" class="col-md-12">
                <img src="/img/company.svg" alt="Company img" class="mt-4" />
            </div>
            <div class="col-md-12">
                <h4 class="bold mt-4">
                    Quem eles estão buscando:
                </h4>
                <h1 class="main-color font-mono mb-2">
                    {{ job.dataValues.title }}
                </h1>
                <h4 class="bold mt-4">
                    Desempenho:
                </h4>
                <h5 class="job-desc mt-4">
                    "{{ job.dataValues.description }}"
                </h5>
                <h4 class="bold mt-4">
                    Regime de trabalho:
                </h4>
                <h5 class="job-desc mt-4">
                    {{ job.dataValues.work_regime }}
                </h5>
                <h3 class="bold mt-4 main-color">
                    <span>Senioridade:</span>
                    {{ job.dataValues.seniority }}
                </h3>
                <h3 class="bold mt-4">
                    <span>Localização:</span>
                    {{ job.dataValues.localization }}
                </h3>
                <h3 class="bold mt-4 main-color">
                    <span>Salário:</span>
                    R$ {{ job.dataValues.salary }}
                </h3>
                <h4 class="mt-5">Para trabalhar na <span class="mono main-color mt-4">{{job.dataValues.company}}</span>
                    envie um email
                    para a
                    <a href="mail:to  {{job.dataValues.email}}">
                        {{job.dataValues.email}}
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>